 <div class="actions mt-4 abosute z-1 top-6 left-0">
  <%= link_to 'â† Voltar', request.referrer || empresa_dashboard_path, class: "w-36 text-center  text-black font-bold py-2 px-4 underline" %>
</div>
<section class="flex flex-col justify-center items-center bg-white text-black p-6 rounded-lg shadow-2xl max-w-[90%] md:max-w-[600px] mx-auto relative">

  <h1 class="text-4xl font-semibold text-center text-black whitespace-nowrap mb-2"> Detalhes de Candidatura</h1>
  <hr class="border-[#FAB300] my-2 w-[300px] md:w-[500px] border-t-2">

  <div class="field my-2">
    <p><strong class="text-lg">Candidato:</strong> <span class="text-black font-semibold"><%= @candidatura.candidato.nome %></span></p>
  </div>

  <div class="field my-2">
    <p><strong class="text-lg">Vaga:</strong> <span class="text-black font-semibold"><%= @candidatura.vaga.titulo %></span></p>
  </div>

  <div class="field my-2">
    <p><strong class="text-lg">Status:</strong> <span class="text-black font-semibold"><%= @candidatura.status %></span></p>
  </div>

</section>
